@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700&display=swap");

@layer base {
  html {
    font-family: Tajawal, sans-serif;
  }
}

body {
  padding-bottom: 100px;
  transition: all 0.5s ease-in-out;
}
